


label input {
  vertical-align: right; /* align the label and inputs to the right */
}


/* add padding to each input */
input {
  padding: 1.2em;
}

/* put details and address side by side */

#details { 
float: right;
margin-left: -10;
}
